@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

a {
    @apply text-blue-400 underline;
}

@supports (word-break: auto-phrase) {
    div {
        word-break: auto-phrase;
    }
}